<h1>Home</h1>
<div class="row">
  <button class="btn btn-success" ng-click="home.getRandomGif()">Random Gif!</button>
  <img ng-show="home.randomShow" ng-src="{{home.randomUrl}}" />
  <label ng-show="home.randomShow">Comment:</label>
  <input type="text" ng-show="home.randomShow" ng-model="home.comment" />
  <button ng-show="home.randomShow" ng-click="home.saveRandom()">Save!</button>

  <input type="text" ng-model="home.search"/>
  <button class="btn btn-success" ng-click="home.searchGif(home.search)">Search</button>

  <div ng-repeat="picture in home.searchedGifs">
    <img ng-src="{{picture.images.fixed_height.url}}" />
    <label>Comment:</label>
    <input type="text" ng-model="home.comment" />
    <button class="btn btn-success" ng-click="home.saveSearched($index)">Save!</button>
  </div>

</div>
